* {
  padding: 0;
  margin: 0;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#character {
  width: 40px;
  height: 70px;
  background-color: purple;
  position: absolute;
  top: 130px;
  left: 0px;
}

#block {
  width: 20px;
  height: 20px;
  background-color: teal;
  position: relative;
  top: 130px;
  left: 480px;
}

#box {
  position: absolute;
  background-color: purple;
  width: 40px;
  height: 70px;
}