* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {  
  --char-pos: 0vw;
  --move-x: 0vw;
}

.row {
  width: 100%;
  height: fit-content;
  border: 1px solid red;
}

.column {
  float: left;
  width: 50%;
}

.bgContainer {
  width: 100%;
  height: 100vw;
  background-image: url('src/sky_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  position: relative;

  transition-property: height;
  transition-duration: 0s;
}

/********** START SCREEN **********/
#startScreen {
  background-color: #73b2ee;
  align-items: center;
  justify-content: center;
}

h1.customTxt {
  font: 6vw monaco, monospace; 
  color: white;
  margin-bottom: 10px;
}

#nameInp {
  border: 1px solid #ccc;
  font: 6vw monaco, monospace; 
  letter-spacing: 10.5px;
  text-transform: uppercase;
  width: 42vw;
  padding-left: 4px;
}

#startButton {
  background-color: rgb(13, 127, 219);
  cursor: pointer;
  font: 6vw monaco, monospace;
  font: bold;
  color: white;
  padding: 0 10px;
}
#startButton:hover{
  background-color: rgb(29, 137, 226);
}

.contentContainer {
  padding: 35% 15%;
}

/********** GAME SCREEN **********/
#gameContainer {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  /* padding: 5% 5%; */
  position: absolute;
  bottom: 0px;
}

#block {
  position: absolute;
  width: 4vw;
  bottom: 8vw;
  right: 5vw;
}

#character {
  position: absolute;
  bottom: 6vw;
  width: 12vw;
  left: var(--char-pos);
}
.animate {
  animation: moveit 500ms;
  animation-fill-mode: forwards;
}
@keyframes moveit {
  0% {
    left: var(--char-pos);
    bottom: 6vw;
  }
  50% {
    left: calc(var(--char-pos) + var(--move-x)/2.0);
    bottom: 14vw;
  }
  100% {
    left: calc(var(--char-pos) + var(--move-x));
    bottom: 6vw;
  }
}

#image {
  width: 200px;
}

#webCamera {
  width: 320px;
  height: 240px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.testBottom {
  height: 30px;
  border: 1px solid red;
  width:100%;
}