* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {  
  --char-pos: 0px;
}

.column {
  float: left;
  width: 50%;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

#block {
  width: 40px;
  position: relative;
  top: 130px;
  left: 460px;
}

#character {
  position: absolute;
  top: 150px;
  width: 54px;
  left: var(--char-pos);
}
.animate {
  animation: moveit 500ms;
  animation-fill-mode: forwards;
}
@keyframes moveit {
  0% {
    left: var(--char-pos);
  }
  50% {
    left: calc(var(--char-pos) + 40px);
    top: 100px;
  }
  100% {
    left: calc(var(--char-pos) + 80px);
  }
}

#image {
  width: 200px;
}

#webCamera {
  width: 320px;
  height: 240px;
}